block content
	head
		title Completionist
	body
		.container
			h2 Completionist
			form(action='addTask', method='POST')
				input(type='text', name='newtask', placeholder='add new task')
				button Add

			h2 Tasks
			#taskList_active
			#taskList_completed

block append readyscripts
	script.
		const tasks_active = !{ JSON.stringify(tasks) }
		const tasks_complete = !{ JSON.stringify(completed) }
		console.log("Tasks: " + tasks_active)
		console.log("Completed: " + tasks_complete)


block append scripts
	link(rel='stylesheet', href='/stylesheets/main.css')
	script(type='application/javascript', src='/js/main.js')