body{
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

.task{
    display: flex;
    flex-flow: row nowrap;
}

#allTasks{
    background-color: lightgray;
    padding: 5px;
    width: min-content;

}

#addForm{
    display: flex;
    flex-flow: row nowrap;
}